@import "./src/scss/config";
@import "./src/scss/mixins";

.registration--wrapper {
    background: $color-white;
    padding: 25px 100px;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    -moz-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
    margin: 10px 0;
}
.reg--border{
    border-bottom: 1px solid $color-grey-lightest;
    margin: 0px 150px 20px 150px;
    padding-bottom: 13px;
}
.reglarge--heading {
    text-align: center;
    font-size: $font-size-32;
    font-weight: bold;
    color: $color-grey-dark;
}
.regsmall--heading {
    font-size: $font-size-14;
    text-align: center;
    color: $color-grey-standard;
    font-weight: bold;
}

.form-control{
    height: 40px;
    width: 340px;
    padding-left: 42px;
    border-radius: 5px;
}
