<div class="offborad--warpper">
  <div class="mrgn--0 border-solid--bottom">
    <div class="offboard--heading">{{'offboard.offboardHeading' | translate}}</div>
    <div class="offboard--headimg"><img src="assets/img/off-baord_icn.png" width="62" class="" alt="Offboard"/></div>
    <div class="clearfix"></div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="offboard-inner">
        <div class="offboard--innertxt">
          {{'offboard.offboardWarnMsg' | translate}}
        </div>
        <p class="offboard-innerpara">
          {{'offboard.offboardMsg' | translate}}

        </p>
        <div class="offboard--msg1">
          {{'offboard.offboardWarnMsg1' | translate}}<a href="https://www.tvlicensing.co.uk/pay-for-your-tv-licence/ways-to-pay" class="offboard--link" target="_blank">{{'offboard.offboardWarnLink' | translate}}</a><span class="offboard--msgafter">{{'offboard.offboardWarnMsgAfter' | translate}}</span><a href="tel:0300 790 6042" class="tel--no" traget=_blank>{{'offboard.offboardCallNumber' | translate}}</a>
        </div>
        <div class="offboard-btn">
          <a href="http://www.tvlicensing.co.uk/" class="anchor--button" target="_blank">{{'offboard.btnBuyLicence' |
            translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
