@import "./src/scss/config";
@import "./src/scss/mixins";

.offborad--warpper {
  background: #fff;
  min-height: 645px;
  padding: 10px 20px;
  margin-top: 60px;
}

.offboard-bottom {
  text-align: center;
  margin-top: 263px;
}

.offboard--heading {
  font-size: $font-size-22;
  font-family: $font-gotham-bold;
  color: $color-blue-standard;
  font-weight: 700;
  width: 80%;
  float: left;
  padding-top: 10px;

}

.offboard--headimg {
  width: 20%;
  float: left;
  text-align: right;
}

.pdng--0 {
  padding: 0;
}

.mrgn--0 {
  margin: 0;
}

.border-solid--bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.offboard--innertxt {
  font-size: $font-size-14;
  font-family: $font-gotham-bold;
  font-weight: 700;
  text-align: left;
  margin: 20px 0;
  color: $color-black-dark;
  display: none;
}

.offboard-innerpara {
  text-align: left;
  font-size: $font-size-14;
  font-family: $font-gotham-book;
  padding-top: 18px;
}
.offboard--msg1{
  text-align: left;
  font-size: $font-size-14;
  font-family: $font-gotham-book;
}
.offboard--link {
    color: #014a6f;
    font-size: 14px;
    display: inline-block;
    margin: 0 4px;
    text-decoration: none;
    border-bottom: 1px solid #014a6f;
    &:hover{
    color: #014a6f;
    }
}
  .tel--no {
    color: #014a6f;
    font-size: 14px;
    display: inline-block;
    margin: 0 4px;
    &:hover{
    color: #014a6f;
    }
}
.offboard-btn {
  text-align: center;
  margin: 80px 0;
  display: none;
}

.offboard-bottompara {
  font-size: $font-size-14;
  font-family: $font-gotham-book;
  color: $color-black-dark;
}

.link-arrow {
  color: $color-blue-standard;
  font-size: $font-size-14;
  font-family: $font-gotham-book;
  text-decoration: underline;
  padding-right: 5px;
  vertical-align: middle;
}

.ofgt-arrow {
  color: #004b6d;
  font-size: 14px;
}

//***********************for media query*****************//

@media screen and (min-width: 960px) and (max-width: 1366px) {
  //body { font-weight:bold; color:#555; }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .footer-simple {
    width: 84px;
    margin: 0 auto;
    margin-right: 10px;
  }
  .footer-anchor {
    font-size: 12px;
  }
  .footer-li {
    padding: 1px;
  }
  .icon-username {
    font-size: 12px;
  }
  .footer-logmob {
    padding-top: 10px;
  }
  .footer-logo {
    width: 123px;
    margin-top: 10px;
    margin-left: -20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer--bg {
    background: initial;
  }
  .footer-abs {
    background: initial;
  }
  .footer-ul {
    text-align: center;
  }
  .footer-li {
    width: 85%;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    margin: 0 auto;
  }
  .footer-simple {
    width: 85px;
    margin: 0 0 0 10px;
  }

}
