<div class="about-us-content">
  <div class="content-container">
    <div class="about-us-title">
      <label class="about-us-head">{{'about.heading' | translate}}</label>
      <div class="about-us-image">
        <img src="assets/img/ssp_logo.png" class="img-fluid" alt="SPP" />
      </div>
    </div>
    <div class="margin-top-20 about--txt">
      <p>{{'about.para1' | translate}}<span class="full--strng">{{'TVLicenceStrng' | translate}}.</span></p>
      <p>{{'about.para2before' | translate}}<span class="full--strng">{{'TVLicenceStrng' | translate}}.</span>{{'about.para2mid' | translate}}<span class="full--strng">{{'TVLicenceStrng' | translate}} </span>{{'about.para2after' | translate}}</p>
      <p>{{'about.para3' | translate}}<a href="http://www.tvlicensing.co.uk/faqs/FAQ305" target="_blank" class="simple--link">{{'about.simpleLink' | translate}}</a><span>{{'about.orSpan'| translate}}</span><a [href]="url()" target="_blank" class="simple--link">{{'about.licenceLink'| translate}}</a>{{'about.para4' | translate}}</p>
    </div>
  </div>
</div>
