<div class="expired-wrapper">
  <div class="mrgn-0 border-solid-bottom">
    <div class="expired-heading">{{'expired.expiredHeading' | translate}}</div>
    <div class="expired-headimg"><img src="assets/img/off-baord_icn.png" width="62px" class="img-fluid" alt="Offboard" /></div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="expired-inner">
        <div class="expired-innertxt"></div>
        <p class="expired-innerpara">
          {{'expired.expiredMsg' | translate}}
        </p>
        <div>
          <a routerLink="/signin" class="simple--link">{{'expired.btnSignIn' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

