<div class="contact-us-content">
  <div class="content-container">
    <div class="contact-us-title">
      <label class="contact-us-head">{{'contact.contactTitle'| translate}}</label>
      <div class="contact-us-image">
        <img src="assets/img/cont_icn.png" alt="Contact Us" class="img-fluid"/>
      </div>
    </div>
    <div class="margin-top-20">
      <div class="col-12 col-md-12 col-sm-8 padding-left-0">
        <p class="contact--para"><span class="cntc--spn">{{'contact.contactParaOne'| translate}}</span><a class="faq-link faq--blck" routerLink="/help">{{'contact.faqLinks'| translate}}</a><span class="cntc--spn"> {{'contact.contactParaSecond'| translate}}</span></p>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-6 padding-left-0">
            <div class="col-12 col-sm-6 padding-left-0">
              <div class="contact-us-heading">{{'contact.contactCallUs'| translate}}:</div>
              <div class="contact--para"><a class="call--number" href="tel:{{'forgetLicence.phoneLbl' |translate}}">{{'forgetLicence.phoneLbl' |translate}}</a></div>
            </div>

            <div class="col-12 padding-left-0">
              <div class="contact-us-heading">{{'contact.contactOpeningHours'| translate}}:</div>
              <div>{{'contact.timeA' | translate}}</div>
              <div>{{'contact.timeB' | translate}}</div>
              <div>{{'contact.timeC' | translate}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 padding-left-0">
            <div class="col-12 col-sm-6 padding-left-0">
              <div class="contact-us-heading">{{'contact.contactEmailUs'| translate}}:</div>
              <p class="email-link"><a href="mailto:info@spptvlicensing.co.uk">info@spptvlicensing.co.uk</a>&nbsp;</p>
            </div>

            <div class="col-12 col-sm-6 padding-left-0">
              <div class="contact-us-heading">{{'contact.contactWriteToUs'| translate}}:</div>
              <p>The Simple Payment Plan Team<br>TV Licensing<br>PO BOX 923<br>Newport<br>NP20 9PR</p>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
