<div class="notfound-wrapper">
  <div class="mrgn-0 border-solid-bottom">
    <div class="notfound-heading">{{'notFound.heading' | translate}}</div>
    <div class="notfound-headimg">
      <img src="assets/img/ssp_logo.png" width="40px" class="img-fluid" alt="SPP" />
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="notfound-inner">
        <div class="notfound-innertxt"></div>
        <p class="notfound-innerpara">
          {{'notFound.message' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
