<div class="forgot-licence-content">
  <div class="content-container">
    <div class="forgot-licence-title">
      <label class="forgot-licence-head">{{'forgetLicence.heading' | translate}}</label>
      <div class="forgot-licence-image">
        <img src="assets/img/about_us_logo_ssp.png" class="img-fluid" alt="SPP"/>
      </div>
    </div>
    <div class="margin-top-20">
      <p>{{'forgetLicence.msg'|translate}}</p>
      <div class="">{{'forgetLicence.title2' | translate}}<a href="tel:+{{'forgetLicence.phoneLbl' |translate}}" class="underline--anchor">{{'forgetLicence.phoneLbl' |translate}}</a><span>{{'forgetLicence.phoneValue' | translate}}</span>
        <a href="mailto:info@spp.tvlicensing.co.uk" class="href--links">{{'forgetLicence.emailLbl'| translate}}</a>
      </div>
      <div>
      </div><br>
      <div>
        <div class="">{{'forgetLicence.emailValue' | translate}}</div>
      </div>
      <div class="margin-top-20">
        <a routerLink="/signin" class="simple--link">{{'forgetLicence.linkSignIn' | translate}}</a>
      </div>
    </div>
    <div class="margin-top-20 margin-bottom-20">
    </div>
  </div>
</div>
