<div class="registration--wrapper">
   <div class="reglarge--heading">
     <div class="reg--border">
     {{'registration.largeHead' | translate}}
     </div>
   </div>
    <div class="row">
      <div class="col-md-12">
        <div class="journey--wrapper">
          <div class="journey--circle">
            <!-- registration steps -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form--wrapper">
           <form #registrationForm="ngForm">
            <div class="form-row">
            <div class="form-group col-md-12">
              <label class="text--lbl" for="emailaddress">{{'registration.email' | translate}}<span class="asteric">*</span></label>
              
              <div class="">
                 <div class="input__icon--control">
                    <div class="inputicon--left email--icon">
                    </div>
                    <div class="vertical--line"></div>
                    <input class="form-control input--focus width--full pdgn__lft--34" id="emailaddress" name="emailaddress" type="text"
                    [(ngModel)]="emailaddress"  #email="ngModel" pattern="\w[-._\w]*\w@\w[-._\w]*\w\.\w{2,3}" required />
                    <div class="inputicon--right help--icon" (click)="showHelp('email')">
                      </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="error--fields">
                      <div *ngIf="email.errors.required">
                        {{'registration.email.errors.required'| translate}}
                      </div>                      
                      <div *ngIf="email.errors.pattern">
                        {{'registration.email.errors.pattern'| translate}}
                      </div>                     
                    </div>
                  </div>
              </div>
                <div class="help--info" [ngClass]="{'show': isClicked,'hide':!isClicked}"><div class="callout top-right">{{'registration.lastName' | translate}}</div></div>
            </div>
            

            <div class="form-group col-md-12">
            <label class="text--lbl" for="confirmemailaddress">{{'registration.confirmemail' | translate}}<span class="asteric">*</span> </label>             
            <div class="input__icon--control">
                    <div class="inputicon--left emailaddress--icon">
                    </div>
                    <div class="vertical--line"></div>
                    <input class="form-control input--focus width--full pdgn__lft--34"
                    name="confirmemailaddress" type="text" 
                    [(ngModel)]="confirmemailaddress"  #confirmemail="ngModel" pattern="\w[-._\w]*\w@\w[-._\w]*\w\.\w{2,3}" required 
                    />                    
                   <div *ngIf="confirmemail.invalid && (confirmemail.dirty || confirmemail.touched)"
                        class="error--fields">
                                    
                      <div *ngIf="confirmemail.errors.required">
                        {{'registration.confirmemail.errors.required'| translate}}
                      </div>
                      <div *ngIf="confirmemail.errors.pattern">
                        {{'registration.confirmemail.errors.pattern'| translate}}
                      </div>         
                    </div>
            </div>
            </div>
          <div class="form-group col-md-12">
            <label class="text--lbl" for="password">{{'registration.password' | translate}}<span class="asteric">*</span> </label>
            <div class="input__icon--control">
                    <div class="inputicon--left pwd--icon" (click)="showHelp('pwd')">
                    </div>
                    <div class="vertical--line"></div>
                    <input class="form-control input--focus width--full pdgn__lft--34" name="password" type="password"  [(ngModel)]="passwordfirst" 
                    #password="ngModel" maxlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,8}$" autocomplete="off" required/>
                    <div class="inputicon--right help--icon" (click)="showHelp('pwd')">
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="error--fields">
                                    
                      <div *ngIf="password.errors.required">
                        {{'registration.password.errors.required'| translate}}
                      </div>
                      <div *ngIf="password.errors.pattern">
                        {{'registration.password.errors.pattern'| translate}}
                      </div>         
                    </div>
            </div>
                  <div class="help--info" [ngClass]="{'show': isClickedAccnt,'hide':!isClickedAccnt}"><div class="callout top-right">{{'registration.lastName' | translate}}</div></div>
          </div>
          <div class="form-group col-md-12">
            <label class="text--lbl" for="confirmpassword">{{'registration.confirmpassword' | translate}}<span class="asteric">*</span></label>
            <div class="input__icon--control">
              <div class="inputicon--left repwd--icon">
                </div>
                <div class="vertical--line"></div>
                <input class="form-control input--focus width--full pdgn__lft--34" name="confirmpassword" type="password"  
                [(ngModel)]="passwordreentered" 
                #confirmpassword="ngModel" maxlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,8}$" autocomplete="off" required/>
                
                <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
                    class="error--fields">
                                
                  <div *ngIf="confirmpassword.errors.required">
                    {{'registration.password.errors.required'| translate}}
                  </div>
                  <div *ngIf="confirmpassword.errors.pattern">
                    {{'registration.password.errors.pattern'| translate}}
                  </div>
                  <!-- <div *ngIf="confirmpassword.errors.nomatch">
                    {{'registration.password.errors.nomatch'| translate}}
                  </div>          -->
                </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            {{'registration.mobilenumberpretext'| translate}}
          </div>

          <div class="form-group col-md-12">
            <label class="text--lbl" for="mobilenumber">{{'registration.mobilenumber' | translate}}<span class="asteric">*</span> </label>
            <div class="input__icon--control">
                    <div class="inputicon--left mobile--icon">
                    </div>
                    <div class="vertical--line"></div>
                    <input class="form-control input--focus width--full pdgn__lft--34"  name="mobilenumber" type="text" [(ngModel)]="mobilenumber"
                     #mobile="ngModel" pattern="^\$?(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,2})?|\d{1,3}(\.\d{0,2})?|\.\d{1,2}?)$" required/>
                    <div class="inputicon--right help--icon" (click)="showHelp('mobileno')">
                    </div>
                    <div class="mandate--field"><span>*</span>{{'registration.mandate'|translate}}</div>
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                        class="error--fields">
                                    
                      <div *ngIf="mobile.errors.required">
                        {{'registration.mobile.errors.required'| translate}}
                      </div>
                      <div *ngIf="mobile.errors.pattern">
                        {{'registration.mobile.errors.pattern'| translate}}
                      </div>         
                    </div>
            </div>
                  <div class="help--info" [ngClass]="{'show': isClickedMonth,'hide':!isClickedMonth}"><div class="callout top-right">{{'registration.lastName' | translate}}</div></div>
          </div>
          <div class="form-group col-md-12">
            {{'registration.credentailsproceedpretext'| translate}}
          </div>
          <div class="form-group col-md-12">
            <div class="btn-with--icon"><button type="submit" class="btn-common" routerLink="/registeration/otp">{{'registration.btn' | translate}}</button><div class="img__right--arrow"></div></div>
          </div>
       </div>
    </form>
        </div>
      </div>
    </div>
</div>
