<div class="row footer--bg">
      <div class="col-sm-12 col-md-12">
        <div>
    </div>
        <ul class="footer-ul">
          <li class="footer-li">
            <a [href]="urlPrivacy()" target="_blank" class="footer-anchor">{{'footer.PrivacyPolicy' | translate}}</a>
          </li>
          <li class="footer-li">
            <a [href]="urlPrivacy()" target="_blank" class="footer-anchor">{{'footer.termsLbl' | translate}}</a>
          </li>
          <li class="footer-li">
            <a [href]="urlCookie()" target="_blank" class="footer-anchor">{{'footer.cookies' | translate}}</a>
          </li>
        </ul>
        <div class="copyright">
         &copy; {{'footer.copyRight' | translate}}
        </div>
      </div>
      <div class="copyright-mob">
        &copy; {{'footer.copyRight' | translate}}
      </div>
</div>
