<div class="registration--wrapper">
    <div class="reglarge--heading">
      <div class="reg--border">
      {{'registration.largeHead' | translate}}
      </div>
    </div>
     <div class="row">
       <div class="col-md-12">
         <div class="journey--wrapper">
           <div class="journey--circle">
             <!-- registration steps -->
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-12">
         <div class="form--wrapper">
            <form #otpForm="ngForm">
             <div class="form-row">
                <div class="form-group col-md-12">
                  {{'registration.successful' | translate}}
                </div>
           <div class="form-group col-md-12">
             <div class="btn-with--icon"><button type="submit" class="btn-common" routerLink="/dashboard">{{'registration.btn.successful' | translate}}</button><div class="img__right--arrow"></div></div>
           </div>
        </div>
     </form>
         </div>
       </div>
     </div>
  </div>
  