/*******************Define the global varibles of fonts ,colors and font family***************************/
//*******************font family variations**********************//

$font-gotham-bold: "Gotham Rounded A", "Gotham Rounded B";
$font-gotham-book: "Gotham Rounded A", "Gotham Rounded B";
/***********colors variations*******************/
$color-white: #ffffff;

$color-base: #004855;
$color-green-standard: #9fd52b;
$color-green-light: #00a99d;

//****************colors pink shades**********//

$color-pink-standard: #a05eb5;

//****************colors blue shades********//

$color-blue-standard:#144478;
//****************colors black shades**********//

$color-black-standard: #000000;
$color-black-dark: #1e1e1e;
//****************colors grey shades**********//

$color-grey-standard: #524e4e;
$color-grey-medium: #6d6868;
$color-grey-light: #f2f2f2;
$color-grey-dark: #292727;
$color-grey-lightest: #dee5ed;
$color-grey-bright: #d4d4d4;
//***********color red shades**************//

$color-red-standard: #d7011d;
/***********fonts size variations*******************/
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-32: 32px;

/***********fonts family variations*******************/

$font-family-verdana: verdana;

/***********colors variations of shawbrooks*******************/

//****************colors bg shades**********//
$color-bg:#f3f3f3;