@font-face {
  font-family: "Gotham Rounded A", "Gotham Rounded B";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Rounded A", "Gotham Rounded B";
  font-style: normal;
  font-weight: 700;
}
